@import '../../shared/style/variables';
mat-toolbar{
    button{
    font-size:1.2rem!important;
    margin-right:10px;

    }

}
/* When the input is not focused */
 .mat-input-placeholder {
    color: red!important;
  }
  

@media screen and (max-width:800px){
    mat-toolbar{
        display: flex;
        flex-direction: column;
        height:18rem;
        button{
            width: 100%;
            margin-right: 0;
            margin-top:5px;
        }
        button:last-child{
            margin-bottom:5px;
        }
    }
}

.menu__link--active{ 
    color:green;
}
.login{
    height: 2rem;
    align-self: center;
}
.login__form{
    
    display: flex;
    flex-flow:row ;
    justify-content: space-around;
    mat-form-field{
        margin-right: 15px;
    }
    @media screen and (max-width: $mobileBreakpoint) {
        flex-flow:row wrap ;
        width:100%;
    }
}