<mat-toolbar class="fullWidth" color="primary" class="mat-elevation-z10" >
    <button mat-raised-button color="primary" routerLink="/"  ><mat-icon>home</mat-icon></button> 
    <button mat-raised-button color="primary" [matMenuTriggerFor]="edycje" routerLinkActive="mat-accent" [routerLinkActiveOptions]="{exact: true}">Edycje
    <mat-menu #edycje="matMenu">
      <a mat-menu-item href="http://www.mbg.uz.zgora.pl/">poprzednie edycje</a>
      <button mat-menu-item *ngFor="let edition of editions"  routerLink= "/edycja/{{edition.id}}" routerLinkActive="menu__link--active" >{{edition.nazwa}}</button> 
    </mat-menu>
  </button>
    <button mat-raised-button color="primary" [matMenuTriggerFor]="info" routerLinkActive="mat-accent" [routerLinkActiveOptions]="{exact: true}">Informacje
      <mat-menu #info="matMenu">
        <button mat-menu-item routerLink="/info/ogolne"  routerLinkActive="menu__link--active">O konkursie</button>
        <button mat-menu-item routerLink="/info/regulaminy"  routerLinkActive="menu__link--active">Regulaminy i Zasady</button> 
      </mat-menu>
  </button>
    <button mat-raised-button color="primary" routerLink="/contact" routerLinkActive="mat-accent">Dane Komitetow</button>
    <div class="flexSpacer"></div>
    <form [formGroup]="LoginGroup" (ngSubmit)="LogIn($event)" class="login__form" >
      <mat-form-field  color="accent" >
        <input matInput placeholder="Login" formControlName="login" resizeToFitContent required >
      </mat-form-field>
      <mat-form-field  color="accent">
        <input matInput type="password" placeholder="Hasło" resizeToFitContent formControlName="pass" required >
      </mat-form-field>
       <button mat-raised-button color="accent"  class="login">zaloguj</button>
     
    </form>
   
    
</mat-toolbar>