<mat-toolbar class="fullWidth" color="primary" class="mat-elevation-z10" >
    <button mat-raised-button color="primary" routerLink="/" ><mat-icon>home</mat-icon></button>
    <button mat-raised-button color="primary" [matMenuTriggerFor]="edycje">Edycje</button>
    <mat-menu #edycje="matMenu">
      <a mat-menu-item href="http://www.mbg.uz.zgora.pl/">poprzednie edycje</a>
      <button mat-menu-item *ngFor="let edition of editions"  routerLink="/edycja/{{edition.id}}">{{edition.nazwa}}</button>
    </mat-menu>
    <button mat-raised-button color="primary" [matMenuTriggerFor]="info">Informacje</button>
    <mat-menu #info="matMenu">
      <button mat-menu-item routerLink="/info/ogolne">O konkursie</button>
      <button mat-menu-item routerLink="/info/regulaminy">Regulaminy i Zasady</button>
    </mat-menu>
    <button mat-raised-button color="primary" routerLink="/contact">Dane Komitetow</button>
    <div class="flexSpacer"></div>
    <button mat-raised-button color="accent" routerLink="/login" class="login" >zaloguj</button>
</mat-toolbar>