/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$app-primary: mat-palette($mat-blue);
$app-accent : mat-palette($mat-teal);
// The warn palette is optional (defaults to red).
$app-warn : mat-palette($mat-red);
// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the  theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);
@import 'app/shared/style/variables';
@import 'app/shared/style/page-loader';
mat-card {
    margin-bottom: 20px;
}
mat-card > mat-toolbar {
    //fix for toolbar in mat-card
    margin: -24px 0 24px -24px!important;
    width: calc(100% + 48px)!important;
    
}
mat-card > mat-card-header >mat-toolbar {
    //fix for toolbar in mat-card
    margin: -24px 0 24px -24px!important;
    width: calc(100% + 48px)!important;
}
@media screen and (max-width:600px){
    mat-card > mat-toolbar {
        //fix for toolbar in mat-card
        margin: -24px 0 24px -16px!important;
        width: calc(100% + 32px)!important;
        
    }
    mat-card > mat-card-header >mat-toolbar {
        //fix for toolbar in mat-card
        margin: -24px 0 24px -16px!important;
        width: calc(100% + 32px)!important;
    }
}

mat-card {
    overflow-x: auto;
}


html {
    height: 100%;
}

body {
     overflow-x:hidden;
    // font-size: 1rem;
    margin: 0;
    padding: 0;
    height: 100%;
    background: $backgroundColor;
    * {
        box-sizing: border-box;
        font-family: "Dosis", sans-serif;
    }
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #fafafa;
    }
    &::-webkit-scrollbar {
        position: fixed;
        width: 10px;
        left: 0;
        background-color: #fafafa;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #2196F3;
        background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent)
    
}


}
ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ul li,
ol li {
    padding: 0;
    margin: 0;
}
.floatLeft {
    float: left;
}
.floatRight {
    float: right;
}
.fullWidth {
    width: 100%;
}
.halfWidth{
    width:50%;
}
.fullWidthOnMobile{
    @media screen and (max-width: $mobileBreakpoint) {
       width:100%;
    }
}
.flexCentered{
    display:flex;
    flex-flow:column;
    align-items:center;
}
.flexSpacer {
    flex: auto;
}
.flexSpacer {
    flex: auto;
}
.snackbar-info{
    color:black!important;
    background:white!important;
}
.snackbar-success{
    color:#E0F2F1!important;
    background:#009688!important;
}
.snackbar-error{
    color:white!important;
    background:#F44336!important;
}
.flexTab{
    display: flex;
    flex-flow:row wrap;
}
.flexTab__item{
    flex:1 0 30%;
}