@import '../../../assets/variables';
.header__wrap {
    grid-row: 1;
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
  }
 .left,
 .right {
    max-width: 150px;
    max-height: 150px;
  }
  .left {
    grid-column: 1;
  }
  h1 {
    text-align: center;
    grid-column: 2;
    grid-row: 1;
  }
  .right {
    grid-column: 3;
  }
  @media (max-width: $mobileBreakpoint) {
    .header__wrap {
      width: 100%;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      grid-gap: 10px;
    }
    .left {
      grid-column: 1;
      grid-row: 1;
    }
    h1 {
      grid-column: 1/4;
      grid-row: 2;
      font-size: 1.5em;
    }
    .right {
      grid-column: 3;
      grid-row: 1;
    }
}