<div class="md-card md-dp2  md-g--r1">
    <div class="md-card__header md-dp2">terminarz</div>
    <pre class="md-card__content">
Terminarz XXIX MK "MBG" wersja Senior edycja (2017/2018)

  zgłoszenie uczestnictwa: od października do grudnia 2017 roku
  etap wstępny (wewnątrzszkolny): styczeń – 25 luty 2018 roku
  etap finałowy: 27 luty 2018 roku

Terminarz MK "MBG" wersja Junior edycja (2017/2018)

  zgłoszenie uczestnictwa: od października do grudnia 2017 roku
  etap wstępny (wewnątrzszkolny): styczeń – 26 luty 2018 roku
  etap finałowy: 28 luty 2018 roku

maj – czerwiec: wręczenie nagród i dyplomów laureatom konkursu.
    </pre> 
 </div>
