

     <div class="md-card md-dp2">
        <div class="md-card__header md-dp2">header</div>
        <div class="md-card__content md-g">
            <form class="md-g--mobile">
                <fieldset class="md-dp2">
        
                    <legend class="md-dp4">Szczegóły konta:</legend>
                    <div class="md-g md-g--ng--c">
                        <label class="md-i--l md-g-r1 md-g--c3 ">Imię:</label>
                        <input type="text" class="md-i md-g--r2 md-g--off2 md-g--mobile" value="imie">
                        <label class="md-i--l md-g--r3 md-g--c3 ">Email:</label>
                        <input type="text" class="md-i md-g--r4 md-g--off2 md-g--mobile ">
                    </div>
                </fieldset>
                <fieldset class="md-dp2">
                    <legend class="md-dp4">Kilka Informacji o tobie:</legend>
                    <div class="md-g ">
                        <label class=" md-i--l md-g--r1  md-g--off1">Czy odwiedzisz nas ponownie:</label>
                        <div class="md-g--r2 md-g--off1">
                            <input type="radio" name="test" value="y" class="md-rb" /> Tak
                            <input type="radio" name="test" value="n" class="md-rb" /> Nie
                            <input type="radio" name="test" value="m" class="md-rb" /> może
                        </div>
        
        
                        <label class="md-i--l md-g--r3   md-g--off1 md-g--mobile">Komentarz:</label>
        
                        <textarea class="md-i md-g--r4   md-g--off1 md-g--mobile"></textarea> 
        
                        <div class="md-g--r5 md-s30">
                            <input type="checkbox" checked> Chcę być informowany o aktualizacjach.</div>
                        <button class="md-b md-b--add md-b--add--s40 md-dp2 md-dp4--h"></button>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="md-card__footer md-dp2">footer</div>
     </div>
