<!-- todo selects -->
<mat-form-field  class="fullWidth">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" >
      </mat-form-field>
<mat-table #table [dataSource]="dataSource">
  
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
  
      <!-- Position Column -->
      <ng-container matColumnDef="region">
        <mat-header-cell *matHeaderCellDef> wojewodzctwo </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.region}} </mat-cell>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="city">
        <mat-header-cell *matHeaderCellDef> miasto </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.city}} </mat-cell>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="school_type">
        <mat-header-cell *matHeaderCellDef> typ szkoły </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.school_type}} </mat-cell>
      </ng-container>
  
      <!-- Color Column -->
      <ng-container matColumnDef="school_name">
        <mat-header-cell *matHeaderCellDef> nazwa szkoły </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.school_name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="classes">
        <mat-header-cell *matHeaderCellDef> klasa | jezyk | wychowawca</mat-header-cell>
        <mat-cell *matCellDef="let element">
            <div *ngFor="let class of element.classes">{{class.class}} | {{class.language}} | {{class.guardian}} </div>

          </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>