
 mat-accordion{
    width:calc(100% + 2px)!important; 
    margin: 0 -22px!important;
    overflow:visible!important;
}
mat-expansion-panel{
    width:calc(100% + 24px)!important; 
    margin: 0 -24px!important;
}