@import '../../../assets/variables';
 ul {
    width: 100%;
    padding: 5px;
  li {
    padding: 5px;
    background-color: $basicColor*1.2;
    margin-bottom: 10px;
    color: white;
    &:hover {
       background-color: $basicColor*1.4;
    }
  }
}