@import '../../../../assets/variables';

:host{
    text-align: center;
    background-color: $supportColor*0.7;
    color: lightgrey;
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    grid-template-rows: 0px 1fr max-content;
    grid-gap:2px;
    height: 150px;
    .content{
      grid-column: 1/-1;
      grid-row: 1;
    }
    .info {
      background: rgba(0, 0, 0, 0.185);
      padding: 10px;
      grid-column: 1;
      grid-row: 3;
      border-top-right-radius: 10px;
      font-size: 15px;
    }
    .copyright {
      grid-column: 3;
      grid-row: 3;
      font-size: 0.6rem;
      padding-top:10px;
    }
  }
@media (max-width: $mobileBreakpoint) {
  :host{
    grid-template-rows: auto;
    .content{
      grid-row: 1;
      grid-column: 1/-1;
    }
    .info{
      grid-row: 2;
      grid-column: 1/-1;
    }
    .copyright{
      grid-row: 3;
      grid-column: 1/-1;
    }
  }
}