@import '../assets/variables';
 :host {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-flow: column wrap;
    nav{
      width: 100%;
    }
    .wrapper {
      width: 100%;
      display: flex;
      flex-flow: column wrap;
      margin-top: 1rem;
      
    }
    aside {
      & > mat-card{
        overflow-x: auto;
        &::-webkit-scrollbar
        {
          display: none;
        }
      
      }
    }
    footer {
        align-self: flex-end;
        width: 100%;
        flex: 1;
    }
}
@media screen and (min-width:$mobileBreakpoint) {
  :host {
    align-items: center;
     .wrapper {
      width: 80%;
      // margin-top: 5rem;
       flex-flow: row wrap;
       header{
         flex: 1 0 100%;
       }
       main{
         flex:1 0 65%;
         margin: 0 20px;
       }
       aside {
        flex:1 0 25%;
        }
     }
     
 }
}