<nav>
  <app-navbar></app-navbar>
</nav>
<div class="wrapper">
  <header> 
    loading header...
   </header>
  <main >
    <mat-card  class="scrollbar--invisible">
      <mat-toolbar color="{{accent}}">
        {{title}}
      </mat-toolbar>
        <mat-card-content>
    <router-outlet>
    
    </router-outlet>
        </mat-card-content>
    </mat-card>
  </main>
  <aside class="side--right">
    <widget-calendar></widget-calendar>
    <widget-sponsors></widget-sponsors>
  </aside>
</div>
<!-- <footer>
 loading footer...
</footer> -->
