@import '../../../assets/variables';

:host {
    display: block;
    z-index: 100;
    position: fixed;
    padding-left:20px;
    top: 0;
    left: 0;
    right: 0;
    background-color: $basicColor;
  }
  
  @media (max-width: $mobileBreakpoint) {
    :host {
      position: relative;
      padding-left: 0;
      grid-row: 1;
    } 
  }
  
  .menu { 
    display: flex; 
    flex-direction: column;
    li {
      display: block;
      list-style-type: none;
      text-transform: uppercase;
    }
    li.login {
      background-color: $supportColor;
      a {
        padding-left: 40px;
        padding-right: 40px;
      }
    }
    li a {
      display: flex;
      text-align: center;
      text-decoration: none;
      color: white;
      padding: 1rem;
    }
    li a:hover {
      background-color: $basicColor*1.1;
      color: #fff;
    }
    li.login a:hover {
      background-color: $supportColor*1.2;
    }
  }
  
  .menu-item-has-children>a:after {
    font-family: 'Genericons';
    content: '\f431';
    padding: 1px;
  }
  
  @media (min-width: $mobileBreakpoint) {
    .menu {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  
  :host ul ul {
    display: none;
  }
  
  @media (min-width: $mobileBreakpoint) {
    :host ul ul {
      display: none;
      position: absolute;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }
  }
  
  :host ul li:hover>ul {
    display: block;
    color: #fff;
    padding-left: 2rem;
  }
  
  @media (min-width: $mobileBreakpoint) {
    :host ul li:hover>ul {
      padding-left: 0;
      background-color: $basicColor*1.2;
    }
    :host ul li:hover>ul a {
      color: #fff;
    }
    .sub-menu {
      li {
        display: flex;
        padding-right: 2em;
      }
      li:hover,
      li a:hover {
        background-color: $basicColor*1.4;
      }
    }
    :host ul ul ul {
      margin: 0 0 0 100%;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
    .menu-item-has-children .menu-item-has-children>a:after {
      font-family: 'Genericons';
      content: '\f431';
      padding: 1px;
      transform: rotate(-90deg);
    }
  }