<ul class="menu">
    <li >
        <a routerLink="/">Strona główna</a>
    </li>
    <li class="menu-item-has-children">
        <a href="#">edycje</a>
        <ul class="sub-menu">
          <li>
            <a href="">Poprzednie edycje</a>
          </li>
        <li *ngFor="let edition of editions" class="menu-item-has-children">
            <a routerLink="/edycja/{{edition.id}}">{{edition.nazwa}}</a>
            <ul class="sub-menu">
                <li>
                    <a routerLink="/edycja/{{edition.id}}/statystyki">statystyki</a>
                </li>
                <li>
                    <a routerLink="/edycja/{{edition.id}}/wyniki">wyniki</a>
                </li>
            </ul>
        </li>
      </ul>
    </li>
    <li class="menu-item-has-children">
        <a href="#">Informacje</a>
        <ul class="sub-menu">
          <li> <a routerLink="/info/regulamin/junior">Regulamin konkursu MBG Junior</a></li>
          <li> <a routerLink="/info/regulamin/senior">Regulamin konkursu MBG Senior</a></li>
          <li> <a routerLink="/info/geneza">Geneza Konkursu</a></li>
          <li> <a routerLink="/info/warunki_udzialo">Warunki udziału w konkursie</a></li>
          <li> <a routerLink="/info/specyfikacja_zadan">Specyfikacja zadań konkursowych</a></li>
          <li> <a routerLink="/info/idee">Idee konkursu</a></li>
          <li> <a routerLink="/info/zasady">Zasady ogólne</a></li>
          <li> <a routerLink="/info/nagrody">Nagrody</a></li>
          
        </ul>
    </li>
    <li class="menu-item-has-children">
        <a href="#">zglos sie!</a>
        <ul class="sub-menu">
          <li> <a routerLink="/formularz">formularz</a></li>
        </ul>
    </li>
    <li class="menu-item-has-children">
        <a href="#">Kontakt</a>
        <ul class="sub-menu">
          <li><a routerLink="/">Komitet Krajowy</a></li>
          <li><a routerLink="/">Komitety Regionalne</a></li>
        </ul>
    </li>
  <li class="login">
    <a routerLink="/login">Zaloguj się</a>
  </li>

</ul>
