
    <mat-card-content>
      <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>
            Uczestnicy
          </ng-template>
            <app-participants>...</app-participants>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            Statystyki
          </ng-template>
            <app-results>...</app-results>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            Wyniki
          </ng-template>
            <app-statistics>...</app-statistics>
        </mat-tab>
      </mat-tab-group>
